<div class="container text-center">
  <header>
    <h1>Hi,{{ personData.firstName }}</h1>
  </header>
  <img style="height: 50vh;"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfsQ7eOJoxlckYgGLvZ4jL8_X-DVa87tEDq5I0JdV2cVdBb8-HLw"
    alt="">
</div>